<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <title>Apollo: YIM | The Match</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div id = "header">
      <a href="https://apolloprogram-match.herokuapp.com">
      <img id="header-logo" src="images/logo.png" alt="Apollo-logo">
      <h1>The Match</h1>
      </a>
    </div>

    <div id="main">
