<%- include("./partials/header"); -%>

<div id="landing-page">
<h1>Welcome</h1>
<br />
<a href="http://localhost:3000/login"><button type="button" name="button" class="btn">Student Login &nbsp;<i class="fa fa-arrow-circle-right"></i></button></a>
<br /><br />

<a href="http://localhost:3000/view-slots"><button type="button" name="button" class="btn">Admin View Shadow Slots</button></a>
</div>

<%- include("./partials/footer"); -%>
