<%- include("./partials/header"); -%>
<div id="login-page">
<h1>Student Login</h1>
<div id="login-container" class="container">
  <div class="row">
    
    <div class="col col-12 col-md-6">
      <div class="login-card">
        <h2>Log In</h2>
        <h3><%=errM2%></h3>
        <form class="" action="/login" method="post">
          <input class="top-input" type="email" name="email" value="" placeholder="Email" required=true><br/>
          <input class="btm-input" type="password" name="password" value="" placeholder="Password" required=true>
          <br />
          <button type="submit" name="button" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


<%- include("./partials/footer"); -%>
